/.quarto/
.matplotlib/
.venv/
__pycache__/
.pytest_cache/
**/*.quarto_ipynb
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv
/en/main.pdf
/zh/main.pdf
/summary/summary.pdf
/en/main.tex
/zh/main.tex
/summary/summary.tex
/figures/*.png
